.swiper,
.swiper-wrapper{
 width: 100%;
 height:auto;
 /* height: 256px; */ /*276*/
 
}
@media screen and (min-width: 744px) {
  .swiper,
  .swiper-wrapper{
    /* flex: 0 0 400px; */
    width:400px;
    /* overflow: hidden; */
    /* height: 294px;  */ /*314*/
    
  }
}
@media screen and (min-width: 834px) {
  .swiper,
  .swiper-wrapper{
    /* flex: 0 0 445px; */
    width: 445px;
    /* height: 364px; */
  }
}
@media screen and (min-width: 1440px) {
  .swiper,
  .swiper-wrapper{
    /* flex: 0 0 760px; */
    width:760px;
    /* height: 375px;  */
  }
}

.swiper-slide-active,
.swiper-slide{
  width:171px;
  /* width:100%; */

  height: auto;
}
@media screen and (min-width: 744px) {
  .swiper-slide-active,
  .swiper-slide{

    width:235px;
  }
}
/* @media screen and (min-width: 834px) {
  .swiper-slide{
    width:171px;
  }
} */
@media screen and (min-width: 1320px) {
  .swiper-slide-active,
  .swiper-slide{
    width:312px;
  }
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  /* height: 100%; */
  object-fit:cover;
}
.swiper-pagination__dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

}
.swiper-pagination-bullet {
  position: relative;
  display: inline-flex;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  border: none;
  outline: none;
  background-color: #988475;
  cursor: pointer;
  transition: background-color 0.5s ease-out;
  opacity: 1;
}
.swiper-pagination-bullet::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  opacity: 1;
  border-radius: 100px;
  width: 12px;
  height: 12px;
  transition: width 1s, opacity 1s, background-color 1s ease-out;
}
.swiper-pagination-bullet-active.swiper-pagination-bullet::before {
  background-color: #BF590D;
  width: 100%;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0;
}
@media screen and (min-width: 744px) {
  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
  }
  .swiper-pagination-bullet::before {
    width: 16px;
    height: 16px;
  }

}


/* transition duration-500 ease-in-out hover:text-color-accent-extra focus:text-color-accent-extra */