@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply font-condensed h-full text-[15px] font-normal not-italic md:text-lg xl:text-xl bg-color-bg-primary text-color-primary 
}
.lock{
  @apply overflow-hidden
}
.wrapper {
  @apply min-h-full flex flex-col;
}
.page {
  @apply flex flex-col flex-auto;
}
header {
  @apply w-full bg-color-bg-primary pt-[40px] pb-[26px] md:py-[26px] xl:py-[20px]
}
footer {
  @apply bg-color-accent-primary w-full py-[10px]
}
.section{
  @apply py-[40px] md:py-[50px] xl:py-[80px]
}

/* .border-gradient {
  border-color: linear-gradient(
    115deg,
    #875531 4.61%,
    #9b9086 53.78%,
    #dddedc 88.73%
  );
} */

/* bg-gradient-to-r from-[#875531] from-[4.61%] via-[#9B9086] via-[53.78%] to-[#DDDEDC] to-[88.73%] */
.hero-gradient {
  background: linear-gradient(
    115deg,
    #875531 4.61%,
    #9b9086 53.78%,
    #dddedc 88.73%
  );
}
.navigation-gradient {
  background: linear-gradient(
    115deg,
    #dddedc 5.05%,
    #9b9086 53.78%,
    #875531 88.73%
  );
}
.contacts-gradient {
  background: linear-gradient(
    112deg,
    rgba(233, 161, 107, 0.7) 0.63%,
    rgba(240, 228, 215, 0.7) 59.11%,
    rgba(249, 219, 197, 0.7) 100%,
    rgba(251, 252, 217, 0.7) 100%
  );
}
.cart-primary-gradient {
  background: linear-gradient(
    112deg,
    rgba(233, 161, 107, 0.7) 0.63%,
    rgba(240, 228, 215, 0.7) 59.11%,
    rgba(249, 219, 197, 0.7) 100%,
    rgba(251, 252, 217, 0.7) 100%
  );
}
.cart-extra-gradient {
  background: linear-gradient(
    115deg,
    #e9a16b 4.61%,
    rgba(254, 226, 205, 0.6) 48.56%,
    rgba(254, 255, 193, 0.4) 88.73%
  );
}
/* bg-gradient-to-r from-[#e9a16b] from-[4.61%] via-[rgba(254, 226, 205, 0.6)] via-[48.56%] to-[rgba(254, 255, 193, 0.4)] to-[88.73%] */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



.cart_offer1 { grid-area: 1 / 1 / 2 / 2; }
.cart_offer2 { grid-area: 1 / 2 / 2 / 3; }
.cart_image { grid-area: 2 / 1 / 3 / 3; 
  justify-self: center;}
.cart_offer3 { grid-area: 3 / 1 / 4 / 2; }
.cart_offer4 { grid-area: 3 / 2 / 4 / 3; }


@media screen and (min-width:833px){
  .cart_offer1 {
    grid-area: 1 / 1 / 2 / 7;
  }
  .cart_offer2 {
    grid-area: 2 / 2 / 3 / 8;
  }
  .cart_image { grid-area: 3 / 1 / 5 / 4;
    justify-self: start;
    align-self: end}
    .cart_offer3 {
      grid-area: 3 / 3 / 4 / 9;
    }
    .cart_offer4 {
      grid-area: 4 / 4 / 5 / 10;
    } 
}

@media screen and (min-width:1440px){
  .cart_offer1 {
    grid-area:  1 / 2 / 2 / 8;
  }
  .cart_offer2 {
    grid-area:2 / 3 / 3 / 9;
  }
  .cart_image{
    grid-area: 1 / 1 / 5 / 5;
    /* grid-area: 2 / 1 / 5 / 3; */
  }
  .cart_offer3 {
    grid-area:3 / 4 / 4 / 10;
  }
  .cart_offer4 {
    grid-area: 4 / 5 / 5 / 11;
  } 
}
