
.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  grid-column-gap: 16px;
  grid-row-gap: 4px;
}
@media screen and (min-width: 833px){
  .parent {
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 30px;
  }
}
 @media screen and (min-width: 1440px){
    .parent {
        grid-row-gap: 44px;
    }
} 
